

.game{
    background: #161A1E;
    border-radius: 60px;
    margin-left: 77px;
    margin-right: 100px;
    margin-top: 100px;
    padding-bottom: 100px;


    .img{
        width: 100%;
        max-height: 800px;
        border-radius: 60px 60px 0px 0px;

        img{
            width: 100%;
            max-height: 800px;
            border-radius: 60px 60px 0px 0px;
            filter: brightness(50%);
        }



        .start{
            width: 260px;
            height: 60px;
            background: #2351F4;
            border-radius: 10px;
            box-shadow: 0px 2px 4px 3px rgba(35, 81, 244, 0.5);

            position: absolute;
            top: 70%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);

            a{
                text-decoration: none;
                font-style: normal;
                font-weight: 600;
                font-size: 19px;
                line-height: 24px;
                color: #FFFFFF;
            }
        }

        .start:hover{
            outline: 1px solid #fff;
            box-shadow: 0px 2px 4px 3px rgba(255, 255, 255, 0.507);
        }

    }



    .wrapper{
        margin: 0;
        margin-top: 50px;
        padding-right: 200px;
        padding-left: 200px;
        width: 100%;
        max-height: 250px;
        background-color: #161A1E;
       





        .media-scroller::-webkit-scrollbar {
            height: 12px;

          }
          
          .media-scroller::-webkit-scrollbar-track {
            background-color: #fff;
            border-radius: 13px;
            overflow: hidden;

          }
          
          .media-scroller::-webkit-scrollbar-thumb {
            background-color: #2351F4;
            border-radius: 13px;
    
          }
          
    
          
          .media-scroller {
            display: grid;
            gap: clamp(1.13rem, 1.08rem + 0.24vw, 1.25rem);
            grid-auto-flow: column;
            grid-auto-columns: 30%;
            overflow-x: scroll;
            overscroll-behavior-inline: contain;
            padding-block-end: clamp(1.69rem, 1.61rem + 0.37vw, 1.88rem);
          }
          
          .media-element {
            overflow: hidden;
            width: 300px;
            height: 200px;
            border-radius: 30px;
            grid-template-rows: min-content;
            background-color: none;
            margin-right: 50px;
    
    
            img {
              inline-size: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 30px;
            }
          }
          
 
          

          
          
          @media (max-width: 1550px) {


            .media-scroller {
              grid-auto-columns: 40%;
            }
          }

          @media (max-width: 1300px) {
            .media-scroller {
              grid-auto-columns: 50%;
            }
          }

          @media (max-width: 1150px) {
            .media-scroller {
              grid-auto-columns: 70%;
            }
          }

          @media (max-width: 1000px) {
            .media-scroller {
              grid-auto-columns: 90%;
            }
          }
    }










.head{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;

    .name{
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 47px;
        color: #fff;

    }

    .follow{
        width: 150px;
        height: 40px;
        background: none;
        border-radius: 10px;
        border: 2px solid #2351F4;
        margin-top: 10px;
        transition: 0.5s;


        a{
            text-decoration: none;
            font-style: normal;
            font-weight: 600;
            font-size: 17px;
            line-height: 24px;
            color: #FFFFFF;

        }


        .iconify{
            margin-bottom: 3px;
            width: 18px;
            height: 18px;
        }
    }

    .follow:hover{
        border: 2px solid #fff;
        transition: 0.5s;



    }

}

    .description{
        padding-left: 200px;
        padding-right: 200px;

        .sect-name{
            font-style: normal;
            font-weight: 600;
            font-size: 25px;
            line-height: 35px;
            color: #FFFFFF;
            padding-top: 10px;
        }

        .sect-text{
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 29px;
            color: #676B70;

        }

        
        .sect-list{
            padding-left: 20px!important;


            .sect-list-item{
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 29px;
                color: #676B70;
            }

        }
    }

    .dev-content{
        padding-left: 200px;
        padding-right: 200px;
        padding-top: 10px;

        .sect-name{
            font-style: normal;
            font-weight: 600;
            font-size: 25px;
            line-height: 35px;
            color: #FFFFFF;
            padding-top: 10px;
        }

        .download{
            padding-left: 20px;


            a{
                text-decoration: none;
                color: #2351F4;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 29px;
                padding-right: 5px;
            }

            a:hover{
                color: #fff;
            }

            .iconify{
                margin-right: 5px;
                color: #fff;
                width: 15px;
                height: 15px;
                margin-bottom: 2px;
            }
        }
    }
}



@media (max-width: 1550px) {
    .game{
        margin-right: 40px;


        .img{

            .start{
                width: 260px;
                height: 60px;
                top: 70%;
                left: 52%;

    

            }
        }




    }

  }




@media (max-width: 980px) {
    .game{
        margin-right: 20px;


        .img{

            .start{
                width: 200px;
                height: 50px;
                top: 60%;
                left: 53%;



                a{
                    font-size: 17px;
                }
    

            }
        }


        .description{
            padding-left: 100px;
            padding-right: 100px;
        }


        .dev-content{
            padding-left: 100px;
            padding-right: 100px;

        }


        .wrapper{
            padding-right: 100px;
            padding-left: 100px;
            width: 100%;
            max-height: 250px;
            background-color: #161A1E;


            .media-scroller {
                grid-auto-columns: 60%;
              }
        }


    }

  }







  @media (max-width: 800px) {
    .game{
        margin-right: 20px;


        .description{
            padding-left: 20px;
            padding-right: 20px;
        }


        .dev-content{
            padding-left: 20px;
            padding-right: 20px;

        }


        .wrapper{
            padding-right: 20px;
            padding-left: 20px;



            .media-scroller {
                grid-auto-columns: 80%;
              }
        }


    }

  }




  @media (max-width: 750px) {
    .game{
        
        .img{

            .start{
                width: 150px;
                height: 45px;
                top: 50%;
                left: 54%;



                a{
                    font-size: 16px;
                }
    

            }
        }




    }

  }


  @media (max-width: 650px) {
    .game{
        
        .img{

            .start{
                width: 150px;
                height: 45px;
                top: 45%;
                left: 55%;



                a{
                    font-size: 16px;
                }
    

            }
        }

    }

  }




  @media (max-width: 500px) {
    .game{
        width: 100%;
        margin-right: 0px;
        margin-left: 0px;



        .img{

            .start{
                width: 130px;
                height: 45px;
                top: 45%;
                left: 50%;


                a{
                    font-size: 15px;
                }
    

            }
        }



        .description{
            padding-left: 20px;
            padding-right: 20px;
        }


        .dev-content{
            padding-left: 20px;
            padding-right: 20px;

        }


        .wrapper{
            padding-right: 20px;
            padding-left: 20px;



            .media-scroller {
                grid-auto-columns: 80%;
              }
        }


    }

  }



  @media (max-width: 400px) {
    .game{



        .img{

            .start{
                width: 120px;
                height: 40px;
                top: 50%;
                left: 50%;


                a{
                    font-size: 13px;
                }
    

            }
        }




        .description{
            padding-left: 20px;
            padding-right: 20px;
        }


        .dev-content{
            padding-left: 20px;
            padding-right: 20px;

        }


        .wrapper{
            padding-right: 20px;
            padding-left: 20px;



            .media-scroller {
                grid-auto-columns: 80%;
              }


              .media-element {
                overflow: hidden;
                width: 200px;
                height: 150px;
                border-radius: 20px;

        
        
                img {
                  inline-size: 100%;
                  height: 100%;
                  object-fit: cover;
                  border-radius: 20px;
                }
              }
        }


    }

  }



  @media (max-width: 320px) {
    .game{



        .img{

            .start{
                width: 120px;
                height: 40px;
                top: 70%;
                left: 50%;


                a{
                    font-size: 13px;
                }
    

            }
        }

    }
    }







