.settings{
    margin-left: 510px;
    margin-right: 100px;
    margin-top: 50px;
    height: 100%;
    background: #161A1E;
    border-radius: 25px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;

    .topic{
        color: #fff;
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 35px;
        margin: 0;
    }

    .description{
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 24px;
        color: #676B70;
        padding-top: 20px;
        padding-bottom: 5px;
        margin: 0;

        span{
            color: #fff;
        }
    }



//Account

    .account-settings{
        width: 100%;
        height: auto;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 24px;
        color: #fff;
        margin: 0;
        

        .change-button{
            width: 160px;
            height: 30px;
            background: #2351F4;
            border-radius: 8px;
            margin-left: 15px;

            a{
                text-decoration: none;
                color: #fff;
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 12px;

            }
        }

        .change-button:hover{
            outline: 1px solid #fff;
        }
    }

    .url{
        text-decoration: none;
        color: #fff;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 24px;
        
        p{
            margin: 0;
        }
    }



    input::file-selector-button {
        width: 140px;
        height: 30px;
        font-weight: 500;
        color: #fff;
        font-style: normal;
        font-size: 12px;
        line-height: 12px; 
        text-decoration: none;
        border-radius: 8px;
        padding: 0.5em;
        border: thin solid #2351F4;
        border-radius: 8px;
        margin-right: 15px;
        background: #2351F4;
    }





    .language{
        width: 100%;
        height: 30px;
        max-width: 250px;
        font-weight: 500;
        font-size: 15px;
        line-height: 12px; 
        color: #fff;
        background: #2351F4;
        border-radius: 5px;
        padding-left: 10px;


    }


    .checkbox-list{
        padding: 0;

        .checkbox-element{
            color: #fff;
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 12px; 

            .iconify{
                margin-bottom: 4px;
                margin-right: 3px;
                margin-left: 5px;
            }
        }
    }


    .describe-input{
        margin-top: 5px;
        width: 100%;
        max-width: 400px;
        border-radius: 20px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        color: #676B70;
        resize: none;
    }


//Account



//Password

.password{
    display: block;
    width: 310px;
    height: 60px;
    border-radius: 20px;
    padding-left: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #676B70;
    margin-bottom: 20px;
}

#current-password{
    margin-top: 10px;
}

.confirm{
    width: 110px;
    height: 40px;
    background: #2351F4;
    border-radius: 10px;

    a{
        text-decoration: none;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 24px;
        color: #FFFFFF;
    }
}

.confirm:hover{
    outline: 1px solid #fff;
}


//Password





//Email

.email{
    display: inline-block;
    width: 310px;
    height: 60px;
    border-radius: 20px;
    padding-left: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #676B70;
    margin-top: 20px;
    margin-right: 20px;
}


.description{

    a{
        text-decoration: none;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 24px;
        color: #fff;
        padding-top: 20px;
        padding-bottom: 5px;
        margin: 0;
    }
}





//Email


}





/********************* 
     Change Card
******************** */





#change-form{
    box-sizing: border-box;
    width: 450px;
    height: 400px;
    background: #161A1E;
    border: 1px solid #2351F4;
    border-radius: 60px;
    text-align: center;
    z-index: 999;


    img{
        width: 100px;
        height: 60px;
        margin-top: 30px;
        margin-bottom: 20px;
    }


    .head-text{
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 29px;
        color: #FFFFFF;
        text-decoration: underline #2351F4;
    }

    .change-forms{

        .change-input{
            width: 310px;
            height: 60px;
            background: #FFFFFF;
            border-radius: 20px;
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 18px;
            color: #676B70;
            padding-left: 20px;
            margin-top: 20px;
            margin-bottom: 20px;

        }



        .change-form{
            margin-bottom: 10px!important;
            width: 310px;
            height: 200px;
            background: #FFFFFF;
            border-radius: 26px;
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 18px;
            color: #676B70;
            padding-left: 20px;
            padding-top: 20px;
            padding-right: 20px;
            resize: none;
        }

        textarea:focus, input:focus {
            color: #676B70;
        }



        .change-btn{
            width: 160px;
            height: 50px;
            background: #2351F4;
            border-radius: 12px;
            color: #fff;
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 24px;
            margin-top: 20px;
        }

        .change-btn:hover{
            outline: 1px solid #fff;
        }




    }
}




//Pop


.ip {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(18, 20, 22, 0.7);
    opacity: 0;
    z-index: 1000;
    visibility: hidden;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
    
  }
  
.ip.visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s;
  }
  
.change-container {
    position: relative;
    max-width: 410px;
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px);
    /* Force Hardware Acceleration in WebKit */
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
.visible .change-container {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
@media only screen and (min-width: 1170px) {
    .change-container {
      margin: 8em auto;
    }
  }


//Up





@media only screen and (max-width: 1170px){
    .change-container {
        margin: 8em auto;
}

}




/********************* 
     Change Card
******************** */








/********************* 
       Adaptive
******************** */

@media only screen and (max-width: 1200px){

    .settings{
        margin-left: 470px;
        margin-right: 100px;
    }


} 



@media only screen and (max-width: 1100px){

    .settings{
        margin-right: 60px;
    }


} 


@media only screen and (max-width: 1100px){

    .settings{
        margin-left: 77px;
        margin-right: 50px;
    }


} 



@media only screen and (max-width: 510px){

    .settings{
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        height: 200%;
    }




} 



@media only screen and (max-width: 410px){

    .change-container{
        max-width: 100%;


        .change-input{
            width: 80%!important;
        }
    }




} 



@media only screen and (max-width: 360px){


    .change-button{
        width: 110px!important;
        margin-left: 15px;

        a{
            font-size: 10px!important;

        }
    }


} 
/********************* 
       Adaptive
******************** */
