.chat {
    border-radius: 60px;
    margin-left: 77px;
    margin-right: 100px;
    margin-top: 100px;
    padding-bottom: 100px;
}
.chat .main-block {
    max-width: 960px;
    min-height: 350px;
    background: #161a1e;
    border-radius: 60px;
    padding-left: 60px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 60px;
}
.chat .main-block .main-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0px;
}
.chat .main-block .main-list .main-list-item {
    padding-right: 30px;
}
.chat .main-block .main-topic {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #ffffff;
    padding-bottom: 20px;
}
.chat .main-block .main-info {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #676b70;
}
.chat .main-block .main-info span {
    color: #fff;
    font-weight: 600;
}
.chat .main-block .main-info .creator {
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #ffffff;
}
.chat .main-block .main-text {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #676b70;
}
.post-input {
    border: 1px solid transparent;
    background-color: #121416;
    display: block;
    width: 100%;
    height: 60px;
    border-radius: 20px;
    padding-left: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: white;
    margin-bottom: 20px;
}

.post-input:focus{
    border: 1px solid black;
}

.screenshot-box{
    max-width: 400px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #121416;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.screenshot-box img{
    width: 100%;
}

.screenshot-box .button{
    background: #2351f572 !important;
    margin: 5px;
    margin-top: 20px !important;
}

.screenshot-box .edit{
    background: #ffa0127c !important;
}

.screenshot-box .delete{
    background: #ff4e1d7e !important;
}


select{
    border: 1px solid transparent;
    background-color: #121416;
    display: block;
    width: 100%;
    height: 60px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: rgb(74, 80, 85);
    margin-bottom: 20px;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    cursor: pointer;
}

.select2-container{
    max-width: 100% !important;
}

.select2-container--default .select2-selection--multiple{
    border: 1px solid transparent;
    background-color: #121416;
    display: block;
    width: 100%;
    padding: 15px 15px;
    border-radius: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: rgb(74, 80, 85);
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    cursor: pointer;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #24282b;
    color: white;
    border: 1px solid rgb(60, 60, 60);
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
    margin-left: 5px;
    margin-top: 5px;
    padding-left: 20px;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    white-space: nowrap;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
    border-right: 1px solid rgb(60, 60, 60);
}

.select2-dropdown{
    border: 1px solid black;
    background-color: #121416;
}

.select2-container .select2-search--inline .select2-search__field{
    color: white;
    font-family: 'Roboto', sans-serif;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #363738;
    color: white;
}

select:focus{
    border: 1px solid black;
    color: white;
}

.post-content {
    margin-bottom: 30px;
}
.chat .button {
    margin-top: 10px;
    display: inline-block;
    padding: 15px 20px;
    background: #2351f4;
    border-radius: 15px;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff !important;
}

.file-input{
    margin-top: 30px;
    background-color: #121416;
    padding: 20px;
    border-radius: 30px;
    max-width: 300px;
}

.file-input a{
    color: white;
    display: block;
    text-align: center;
}

.file-input select{
    margin: 20px 0;
    height: 40px;
    background-color: #161a1e;
}

.file-input .button{
    width: 100%;
    padding: 10px 0;
}

.chat .main-block .edit {
    background: #ffa012;
}

.chat .main-block .delete {
    background: #ff4e1d;
}

.chat .button:hover {
    outline: 1px solid #fff;
}
.chat .chat-topic {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #ffffff;
    padding-left: 60px;
    padding-top: 100px;
}
.chat .chat-box {
    width: 100%;
    padding-bottom: 60px;
    background: #161a1e;
    border-radius: 60px;
    padding-left: 50px;
    padding-top: 55px;
    margin-bottom: 50px;
}
.chat .chat-box .second-level-comment {
    padding-left: 130px;
}
.chat .chat-box .third-level-comment {
    padding-left: 240px;
}
.chat .chat-box .level-comment {
    width: 100%;
    margin-bottom: 60px;
}
.chat .chat-box .level-comment .row .col-2 {
    padding-right: 0px;
    margin-right: 0px;
    margin-top: 10px;
}
.chat .chat-box .level-comment .row .col-2 img {
    width: 70px;
    height: 70px;
    border-radius: 13px;
}
.chat .chat-box .level-comment .row .col {
    padding-left: 0px;
}
.chat .chat-box .level-comment .row .col .box-top-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 5px;
}
.chat .chat-box .level-comment .row .col .box-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 5px;
}
.chat .chat-box .level-comment .row .col .level-nickname {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    padding-right: 40px;
}
.chat .chat-box .level-comment .row .col .level-date {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #676b70;
    margin-top: 5px;
}
.chat .chat-box .level-comment .row .col .level-text {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #676b70;
}
.chat .chat-box .level-comment .row .col .level-like {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #ffffff;
    text-decoration: none;
    margin-right: 15px;
}
.chat .chat-box .level-comment .row .col .level-like .iconify {
    margin-right: 5px;
    margin-bottom: 4px;
    color: #fff;
    width: 15px;
    height: 15px;
}
.chat .chat-box .level-comment .row .col .level-reply {
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #ffffff;
    margin-right: 15px;
}
.chat .chat-box .level-comment .row .col .level-report {
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #ffffff;
}
.ql-snow .ql-picker {
    color: white !important;
}
.ql-toolbar .ql-stroke {
    fill: none;
    stroke: #fff !important;
}

.ql-toolbar .ql-fill {
    fill: #fff !important;
    stroke: none;
}

.ql-editor img {
    max-width: 100%;
}

.describe-input {
    margin-top: 5px;
    width: 95%;
    border-radius: 20px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #676b70;
    resize: none;
}

.alert{
    margin-top: 0px !important;
}

.ql-snow .ql-picker-options {
    background-color: #121416 !important;
}

.ql-snow.ql-toolbar button:hover,
.ql-snow .ql-toolbar button:hover,
.ql-snow.ql-toolbar button:focus,
.ql-snow .ql-toolbar button:focus,
.ql-snow.ql-toolbar button.ql-active,
.ql-snow .ql-toolbar button.ql-active,
.ql-snow.ql-toolbar .ql-picker-label:hover,
.ql-snow .ql-toolbar .ql-picker-label:hover,
.ql-snow.ql-toolbar .ql-picker-label.ql-active,
.ql-snow .ql-toolbar .ql-picker-label.ql-active,
.ql-snow.ql-toolbar .ql-picker-item:hover,
.ql-snow .ql-toolbar .ql-picker-item:hover,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected {
    color: rgb(182, 182, 182) !important;
}

button:hover .ql-stroke,
.ql-picker-label:hover .ql-stroke {
    fill: none;
    stroke: rgb(182, 182, 182) !important;
}

.ql-active .ql-stroke {
    fill: none;
    stroke: rgb(182, 182, 182) !important;
}

button:hover .ql-fill,
.ql-picker-label:hover .ql-fill {
    fill: rgb(182, 182, 182) !important;
    stroke: none;
}

.ql-active .ql-fill {
    fill: rgb(182, 182, 182) !important;
    stroke: none;
}

.ql-container {
    font-family: "Roboto", sans-serif !important;
}

.ql-toolbar.ql-snow {
    font-family: "Roboto", sans-serif !important;
}

#report-form {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 450px;
    height: 80%;
    background: #161a1e;
    border: 1px solid #2351f4;
    border-radius: 60px;
    text-align: center;
    z-index: 999;
}
#report-form img {
    width: 100px;
    height: 60px;
    margin-top: 30px;
    margin-bottom: 20px;
}
#report-form .head-text {
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    color: #ffffff;
    -webkit-text-decoration: underline #2351f4;
    text-decoration: underline #2351f4;
}
#report-form .head-text span {
    font-weight: 700;
}
#report-form .report-forms .report-list-reason {
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #ffffff;
    padding-left: 40px;
    padding-top: 10px;
}
#report-form .report-forms .report-list {
    text-align: left;
    padding-left: 50px;
}
#report-form .report-forms .report-list .report-list-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
}
#report-form .report-forms .report-list .report-list-item p input {
    margin-right: 5px;
}
#report-form .report-forms .report-form {
    margin-bottom: 10px !important;
    width: 80%;
    height: 200px;
    background: #ffffff;
    border-radius: 26px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #676b70;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    resize: none;
}
#report-form .report-forms input:focus,
#report-form .report-forms textarea:focus {
    color: #676b70;
}
#report-form .report-forms .report-btn {
    width: 160px;
    height: 50px;
    background: #2351f4;
    border-radius: 12px;
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    margin-top: 20px;
}
#report-form .report-forms .report-btn:hover {
    outline: 1px solid #fff;
}
.yp {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(18, 20, 22, 0.7);
    opacity: 0;
    z-index: 1000;
    visibility: hidden;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
}
.yp.visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s;
}
.report-container {
    position: relative;
    max-width: 410px;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.visible .report-container {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
@media only screen and (min-width: 1170px) {
    .report-container {
        margin: 8em auto;
    }
}
@media only screen and (max-width: 1170px) {
    .report-container {
        margin: 8em auto;
    }
}
@media (max-width: 1550px) {
    .chat {
        margin-right: 40px;
    }
}
@media (max-width: 1100px) {
    .chat .chat-topic {
        padding-left: 40px;
    }
    .chat .main-block {
        padding-left: 20px;
    }
    .chat .chat-box {
        padding-left: 20px;
    }
}
@media (max-width: 980px) {
    .chat .main-block .main-numbers .add-reply {
        margin-left: 20%;
    }
    .chat .chat-box {
        padding-top: 20px;
    }
    .chat .chat-box .col {
        margin-left: 40px;
    }
}
@media (max-width: 700px) {
    .main-list {
        display: block !important;
    }
    .chat .chat-box .second-level-comment {
        padding-left: 70px;
    }
    .chat .chat-box .third-level-comment {
        padding-left: 140px;
    }
    .chat .chat-box .level-comment {
        width: 100%;
        margin-bottom: 60px;
    }
    .chat .chat-box .level-comment .row .col .level-nickname {
        font-size: 16px;
        padding-right: 10px;
    }
    .chat .chat-box .level-comment .row .col .level-date {
        font-size: 13px;
    }
    .chat .chat-box .level-comment .row .col .level-text {
        font-size: 13px;
    }
    .chat .chat-box .level-comment .row .col .level-like {
        font-size: 13px;
        margin-right: 10px;
    }
    .chat .chat-box .level-comment .row .col .level-like .iconify {
        width: 13px;
        height: 13px;
    }
    .chat .chat-box .level-comment .row .col .level-reply {
        font-size: 13px;
        margin-right: 10px;
    }
    .chat .chat-box .level-comment .row .col .level-report {
        font-size: 13px;
    }
}
@media (max-width: 650px) {
    .chat .main-block .main-text .add-reply {
        width: 140px;
        height: 50px;
        margin-left: 20%;
    }
}
@media (max-width: 600px) {
    .chat .chat-box .row .col {
        margin-left: 50px;
    }
}
@media (max-width: 550px) {
    .chat .chat-box .third-level-comment {
        padding-left: 90px;
    }
    .chat .chat-box .third-level-comment .row .col .box-top-info {
        display: block;
    }
    .chat .chat-box .third-level-comment .row .col .level-like {
        margin-right: 5px;
    }
    .chat .chat-box .third-level-comment .row .col .level-reply {
        margin-right: 5px;
    }
}
@media (max-width: 500px) {
    .chat .main-block .main-text .add-reply {
        width: 120px;
        height: 45px;
        margin-left: 10%;
    }
    .chat .main-block .main-text .add-reply a {
        font-size: 16px;
    }
}
@media (max-width: 460px) {
    .chat {
        margin-left: 10px;
        margin-right: 10px;
    }
    .chat .chat-box .third-level-comment {
        padding-left: 90px;
    }
    .chat .chat-box .third-level-comment .row .col .box-top-info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .chat .main-block .main-numbers .add-reply {
        margin-left: 5%;
        width: 120px;
        height: 50px;
    }
    .chat .main-block .main-numbers .add-reply a {
        font-size: 16px;
    }
}
@media (max-width: 380px) {
    .chat .chat-box .third-level-comment {
        padding-left: 90px;
    }
    .chat .chat-box .third-level-comment .row .col .box-top-info {
        display: block;
    }
    .chat .chat-box .third-level-comment .row .col .level-like .iconify {
        margin-right: 0px;
    }
}
@media (max-width: 360px) {
    .chat .main-block {
        padding-right: 20px;
    }
    .chat .main-block .main-topic {
        font-size: 25px;
    }
    .chat .chat-box .second-level-comment {
        padding-left: 20px;
    }
    .chat .chat-box .third-level-comment {
        padding-left: 40px;
    }
    .chat .chat-box .third-level-comment .row .col .box-top-info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}
@media (max-width: 330px) {
    .chat .chat-box .third-level-comment .row .col .box-top-info {
        display: block;
    }
}
@media only screen and (max-width: 410px) {
    .report-container {
        max-width: 100%;
    }
    .report-container .report-input {
        width: 80% !important;
    }
}
@media only screen and (max-width: 360px) {
    .report-button {
        width: 110px !important;
        margin-left: 15px;
    }
    .report-button a {
        font-size: 10px !important;
    }
}
